html {
	background: url(../img/background2.jpg) no-repeat;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
 	-o-background-size: cover;
 	background-size: cover;
	font-family: "Helvetica Neue", sans-serif;
}

body {
	font: 15px/1 Arial, Helvetica, sans-serif;
	padding: 0;
	margin: 0;
}

header {
	color: white;
	padding-top: 30px;
	padding-bottom: 20px;
	min-height: 70px;
	/* border-bottom: #0000ff 5px solid; */
}

header a {
	color: #ffffff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 16px;
}

ul {
	margin: 0;
	padding: 0;
}

header li {
	float: left;
	display: inline;
	poadding: 0 20 px 0 20px;
	margin-right: 10px;
	margin-left: 10px;
}

header #branding {
	float: left;
}

header #branding h1 {
	margin: 0;
}

header nav {
	float: right;
	margin-top: 20px;

}

header .highlight, header .current a {
	color: #FF8C00;
	font-weight: bold;
}

header a:hover {
	color: #cccccc;
	font-weight: bold;
}

body a:hover {
	color: blue;
	font-weight: bold;
}

.container {
	width: 80%;
	margin: auto;
	overflow: hidden;
}

#showcase {
	min-height: 400px;
	text-align: center;
	color: white;
}

#showcase h1 {
	margin-top: 100px;
	font-size: 55px;
	margin-bottom: 10px;
}

#showcase p {
	font-size: 20px;
}

#newsletter {
	padding: 15px;
	color: white;
}

#newsletter h1 {
	float: left;
}

#newsletter form {
	float: right;
	margin-top: 50px;
}

#newsletter input[type="email"] {
	padding: 5px;
	height: 25px;
	width: 250;
}

#boxes {
	margin-top: 20px;
}

#boxes .box {
	float: left;
	width: 30%;
	padding: 10px;
	text-align: center;
	color: white;
}

#boxes .box img {
	width: 90px;
}

aside#sidebar {
	float: right;
	width: 30%;
	margin-top: 20px;
}

article#main-col {
	float: left;
	margin-top: 20px;
	width: 50%;
}

footer {
	color: white;
	padding: 20px;
	margin-top: 20px;
	text-align: right;
}

/* Global */

.dark {
	padding: 15px;
	background: rgba(0,0,0,0.3);
	color: white;
	margin-top: 10px;
	margin-bottom: 10px;
	width: 400px;
	height: 400px;
}

.dark h3 {
	text-align: left;
	color: white;
}

.button_submit {
	height: 25px;
	background: #FF8C00;
	border: 0;
	padding-left: 20px;
	padding-right: 20px;
}

.social-icons {
	font-size: 50px;
	text-align: center;
}

.social-icons a {
	color: white;
	padding: 20px;
}

.prof-pic {
	border-radius: 50%;
	height: 200px;
	width: 200px;
	margin-top: 30px;
}

.line-break {
	width: 300px;
	border-top: 1px solid white;
	margin: 0 auto;
}
.line-break {
	width: 500px;
	border-top: 1px solid white;
	margin: 0 auto;
}
