a:hover {
	color: green !important;
	font-weight: bold !important;
  text-transform: uppercase;
}

a {
  font-weight: bold;
  color: white;
}

footer {
	color: white;
	padding: 0 auto;
  width: 100%;
  font-weight: bold;
  position: absolute;
  margin-top: 10%;
}

body.main {
  background: url(../img/main.jpg) no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.bg-darker {
  background-color: rgba(0,	0,	0, 0.6) !important;
}

.row {
   color: white;
   margin: auto !important;
   min-height: 60%;
   min-width: 60%;
   height: 400px;
   width: 400px;
   margin-top: 5% !important;
   overflow: auto;
   background-color: rgba(0, 0, 0, 0.4);
}

.align-custom h1{
  margin: 0 auto;
  margin-top: 10%;
  font-weight: bold !important;
  text-align: center;
}

.fixed-height {
  height: 800px !important;
}

.line-break {
	width: 50%;
	border-top: 1px solid white;
	margin: 0 auto;
}
